.home-page{
    background-color: #2A2A2A;
    display: flex;
    font-family: sans-serif;
    &__container{
        width:100%;
        position: relative;
    }
}
.nav-bar{
    background-color: #222222;
    height: 100vh;
    min-width:214px;
    width: 18%;
    &__my-album{
        padding: 23px 25px;
        color: #7a7a7a;
        background-color: #161616;
        display: flex;
        justify-content: space-between;

        button{
            color: #7a7a7a;
            font-size: 28px;
            cursor: pointer;
            background-color: transparent;
            border: none;
            line-height:13px;
        }
    }
    ul{
        li{
            font-size: 16px;
            color: #868686;;
            padding: 12px 25px ;
            line-height: 24px;
            cursor: pointer;
            &:hover{
                color: #fff;
                background-image: linear-gradient(to right,#FFA883 ,#3927FF);;
            }
        }
    }
}

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 26px;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    &__search-input{
        color:blue
    }
    &__user{
        div{
            height: 34px;
            width: 34px;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
        }
        color:#fff;
    }
}

.play-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
