.home-page{
    background-color: #2A2A2A;
    display: flex;
    font-family: sans-serif;
    &__container{
        width:100%;
        position: relative;
    }
}
.nav-bar{
    background-color: #222222;
    height: 100vh;
    min-width:214px;
    width: 18%;
    position: relative;
    &__my-album{
        padding: 23px 25px;
        color: #7a7a7a;
        background-color: #161616;
        display: flex;
        justify-content: space-between;

        button{
            color: #7a7a7a;
            font-size: 28px;
            cursor: pointer;
            background-color: transparent;
            border: none;
            line-height:13px;
        }
    }
    ul{
        li{
            font-size: 16px;
            color: #868686;;
            padding: 12px 25px ;
            line-height: 24px;
            cursor: pointer;
            &:hover{
                color: #fff;
                background-image: linear-gradient(to right,#FFA883 ,#3927FF);;
            }
        }
    }
    &__playing-album{
        width: 100%;
        position: absolute;
        bottom: 18px;
        img{
            width: 100%;
            height: auto;
        }
        &-title{
            position: absolute;
            top: 16px;
            left: 25px;
            font-size: 18px;
            color: #fff;
        }
    }
}

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 26px;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    &__search-input{
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            width: 500px;
            background-color: transparent;
            border: 0;
            line-height: 24px;
            font-size: 16px;
            color: #fff;
            &:focus,
            &:hover{
                outline: 0;
                border-bottom: 1px solid #fff;
                margin-left: 10px;
            }
        }
        img{
            width: 30px;
            height: 30px;
        }
    }
    &__user{
        display: flex;
        align-items: center;
        justify-content: center;
        
        div{
            height: 34px;
            width: 34px;
            background-color: red;
            border-radius: 50%;
        }
        p{
            color:#fff;
            margin-left: 10px;
        }
    }
}

.play-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
